<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>        
      Aplicación Control de Enseres        
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="CerrarSesion()">Desconectarse</ion-button>
  <ion-list>    
      <ion-item *ngFor="let persona of Personas" (click)="abrirDetalle(persona)">
          <ion-label>
            <h2> <b>{{persona.nombre}} {{persona.apellido}}</b></h2>
            <p>{{persona.cedula}}</p>
            <p>{{persona.descripcion}}</p>
            <p>{{persona.fechaEntrega.seconds * 1000 | date:'MM-dd-yyyy'}}</p>
            <p>{{persona.Firma}}</p>
          </ion-label>
      </ion-item>    
    <ion-button (click)="getDatos()">Traer Data</ion-button>
  </ion-list>
</ion-content>
